#terms li{
    margin-bottom: 4vh;
}

#wrapper{

}

#flex-layout-tc{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 98vw;
}

#content-block-tc{
    background-color: rgba(93, 83, 147, 0.3);
    width: 70vw;
    margin-top: 15vh;
    padding-left: 3vw;
    padding-right: 3vw;
}