<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>IoM</title>
    {% endif %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" media="screen and (min-width: 800px)" type="text/css" href="{{ url_for('static', filename='styles/main-desktop.css') }}">
    <link rel="stylesheet" media="screen and (max-width: 800px)" type="text/css" href="{{ url_for('static', filename='styles/main-mobile.css') }}">
</head>
<body>

<nav class="navbar">
    <ul class="navbar-list">
        <li class="navbar-element"><a class="navbar-link" href="/index.html#home">Home</a></li>
        <li class="navbar-element"><a class="navbar-link" href="/index.html#information">About Us</a></li>
        <li class="navbar-element"><a class="navbar-link" href="/index.html#classes">Classes</a></li>
        <li class="navbar-element"><a class="navbar-link" href="/index.html#classes">Enrolments</a></li>
        <li class="navbar-element"><a class="navbar-link" href="/contact">Contact</a></li>
        <li class="navbar-element"><a class="navbar-link" href="/terms_and_conditions.html">Terms and Conditions</a></li>
    </ul>
</nav>

{% block content %}
{% endblock %}
</body>
</html>